PORT=8090
NODE_ENV=production
JWT_SECRET=superlongsistencharaktersectre
TRUST_PROXY=loopback
LOG_PRETTY=false
SWAGGER_ENABLED=true
SWAGGER_SERVER_URL=http://localhost:8090
HTTP_TIMEOUT_MS=15000
ACCEPT_LANGUAGE=en-US
PLAYFAB_TITLE_ID=20ca2
MC_GAME_VERSION=1.21.62
MC_PLATFORM=Windows10
CORS_ORIGIN=*
ENABLE_MARKETPLACE_API=false
MARKETPLACE_API_BASE=
ENABLE_XLINK_API=false
XLINK_API_BASE=
